.reviewSection {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .reviewList {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  .review {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .reviewForm {
    display: flex;
    align-items: center;
  }
  
  .reviewForm input {
    flex: 1;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .reviewForm button {
    padding: 8px 12px;
    background: #fece51;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reviewForm button:hover {
    background: #fece51;
  }
  .deleteicon{
    margin-left: 90%;
  }