<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
</head>
<body>
<form th:action="@{/api/auth/signup}" th:object="${user}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
    </div>
    <div>
        <label for="role">Role:</label>
        <input type="text" id="role" th:field="*{role}" />
    </div>
    <div>
        <button type="submit">Signup</button>
    </div>
    <div th:if="${errors}">
        <ul>
            <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
        </ul>
    </div>
</form>
</body>
</html>
